.navbar-brand:hover,
.nav-link:hover,
.dropdown-item:hover {
  background-color: #3a3a3a !important;
}

.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 2px;
  margin: 5px;
  background: #c5c2c2;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #343a40;
    padding: 10px;
  }
  .navbar-nav {
    text-align: center;
  }
  .nav-item {
    margin: 5px 0;
  }
  .dropdown-menu {
    background-color: #495057;
    text-align: center;
  }
}

main {
  flex: 1; /* pushes footer to bottom */
}

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
}

footer a {
  color: #4CAF50;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
